<h1> Neuer Termin </h1>

<%= puts params[:task] %>
<fieldset>
<legend>Termin anlegen: </legend>
<% form_for @task, :url=> {:action =>:new_date}  do |f| %>

<div class = "field">
<p><%= f.label "Datum"%></label>
<%= f.text_field :task_date %></p>

<p><%= f.label "Eintrag"%></label>
<%= f.text_field :task_title %></p>

</div>
<div class="actions">
<%= f.submit "Speichern" %>
</div>
</fieldset>
<%end%>