<h1>Deine Dashboard-Widgets</h1>

<p class="navioben">
<%= link_to 'Neues Widget anlegen', new_widget_path %>
</p>

<table class = "widgettable">
<tr>
<th>Name</th>
<th>Typ</th>
<th>Quelle</th>
<th>Aktionen</th>
</tr>
<% @widgets.each do |w| %>
<tr>
<td><%= w.sourcename %></td>
<td><%= w.sourcetype.name %></td>
<td><%= w.sourceurl %></td>
<td><%= link_to 'Löschen', widget_path(w) , :method => :delete %></td>
</tr>
<% end %>
</table>
