<h1>Deine Dashboard-Widgets</h1>

<p>
<%= link_to 'Neues Widget anlegen', new_widget_path %>
</p>

<table border="1">
<tr>
<th>Name</th>
<th>Typ</th>
<th>Quelle</th>
<th>Aktionen</th>
</tr>
<% @widgets.each do |w| %>
<tr>
<td><%= w.sourcename %></td>
<td><%= w.sourcetype.name %></td>
<td><%= w.sourceurl %></td>
<td><%= link_to image_tag('icons/delete.png'), widget_path(w), :confirm => "Wirklich löschen?", :method => :delete %></td>
</tr>
<% end %>
</table>