<h1>Neues Widget anlegen</h1>

<fieldset>
<legend>W&auml;hle aus vordefinierten Quellen:</legend>  
<form>
Quellen: 
<select id="sourceTemplates" onchange="$('widget_sourceurl').value = $('sourceTemplates').value;">
	<option>--</option>
	<option value="http://www.heise.de/newsticker/heise.rdf">Heise.de Newsticker</option>
	<option value="http://www.ftd.de/rss2">Financial Times Deutschland</option>
	<option value="http://www.spiegel.de/schlagzeilen/tops/index.rss">Spiegel Online</option>
</select><br> <br>
</form></fieldset>

<br />

<fieldset>
<legend>Gebe geben Sie Ihre Quelle an: </legend>
<% form_for(@widget) do |f| %>
  <p>
    <%= f.label :sourcename, 'Name:' %> </label>
    <%= f.text_field :sourcename %>
  </p>
  <p>
    <%= f.label :sourceurl, 'URL der Quelle:' %></label>
    <%= f.url_field :sourceurl %>
  </p>
  <p>
    <%= f.label :sourcetype_id, 'Typ der Quelle:' %></label>
    <%= collection_select("widget", "sourcetype_id", @sourcetypes, :id, :name ) %>
</p>
</fieldset>
 <div class="actions">
    <%= f.submit "Anlegen" %>
  </div>
 
  

<% end %>