<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">
<head>

<%= stylesheet_link_tag '/jqtouch/jqtouch.css', '/jqtouch/themes/apple/theme.css', 'mobile.css' %>
<%= javascript_include_tag '/jqtouch/jquery-1.4.2.min.js', '/jqtouch/jqtouch.js', 'mobile.js' %>

<title>Portal | <%= @title %></title>
<%= yield(:head) %>
</head>

<body>
	<div class="current">
		<div class="toolbar">
			<%= link_to "Back", root_url, :class => "back" unless current_page? root_path %>
			<h1><%= @title %></h1>
			<%= link_to 'Full Site', root_url(:mobile => 0), :class => "button", :rel => "external" %>
		</div>

		<%= yield %>
	</div>
</div>
</body>
</html>
