<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">
<head>
  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Portal | <%= @title %></title>
<%= render 'layouts/stylesheets' %>
<%= javascript_include_tag :defaults, 'swfobject', "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
</head>

<body>

<div class = "wrapper">
  <%= render 'layouts/header' %>
  <div class ="registration">
    <%=render 'layouts/registration' %>
  </div>
    <div class = "content">
      <div class = "navileft">
        <%= render 'layouts/navileft' %>
      </div>
      <div class = "flash">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}"%>
      <%end%>
      </div>
        <div class = "text">
        <%= yield %>
        </div>
    </div>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
